.browser {
  border-radius: .35rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  @media(max-width: 64em) {
    display: none;
  }
  .browser-header {
    background: darken($color4, 5%);
    border-radius: .35rem .35rem 0 0;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    .browser-buttons {
      .button-red, .button-yellow, .button-green {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        display: inline-block;
      }
      .button-red {
        background: #df7065;
      }
      .button-yellow {
        background: #e6bb46;
      }
      .button-green {
        background: #5bcc8b;
      }
    }
    .browser-title {
      color: darken($color4, 30%);
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
  }
  .browser-body {
    color: $color4;
    background: $color5;
    border-radius: 0 0 .35rem .35rem;
    padding: 12px;
    overflow: scroll;
    &:hover {
      .box {
        &.one {
          width: calc(66.6666% - 20px);
        }
        &.two {
          width: calc(33.3333% - 20px);
        }
        &.three {
          width: calc(33.3333% - 20px);
        }
        &.four {
          width: calc(33.3333% - 20px);
        }
        &.five {
          width: calc(33.3333% - 20px);
        }
        &.six {
          width: calc(50% - 20px);
        }
        &.seven {
          width: calc(50% - 20px);
        }
        &.eight {
          width: calc(90% - 20px);
        }
        &.nine {
          width: calc(10% - 20px);
        }
      }
    }
    .box {
      height: 50px;
      width: calc(100% - 20px);
      // background: rgba($color1,0.6);
      background: lighten($color5, 15%);
      margin: 10px;
      box-shadow: 0 3px 7px rgba(0,0,0,0.3);
      border-radius: 5px;
      float: left;
      transition: width 500ms ease-in-out;
      &.one {
        width: calc(33.3333% - 20px);
      }
      &.two {
        width: calc(66.6666% - 20px);
      }
      &.three {
        width: calc(25% - 20px);
      }
      &.four {
        width: calc(25% - 20px);
      }
      &.five {
        width: calc(50% - 20px);
      }
      &.six {
        width: calc(75% - 20px);
      }
      &.seven {
        width: calc(25% - 20px);
      }
      &.eight {
        width: calc(50% - 20px);
      }
      &.nine {
        width: calc(50% - 20px);
      }
    }
  }
}
