.browser {
  border-radius: .35rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  .browser-header {
    background: darken($color4, 5%);
    border-radius: .35rem .35rem 0 0;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    .browser-buttons {
      .button-red, .button-yellow, .button-green {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        display: inline-block;
      }
      .button-red {
        background: #df7065;
      }
      .button-yellow {
        background: #e6bb46;
      }
      .button-green {
        background: #5bcc8b;
      }
    }
    .browser-title {
      color: darken($color4, 30%);
      text-transform: uppercase;
      font-size: 0.8rem;
      margin-top: 0.2rem;
    }
  }
  .browser-body {
    color: $color4;
    background: $color5;
    border-radius: 0 0 .35rem .35rem;
    @media(max-width: 48em) {
      text-align: left;
    }
    pre {
      margin: 0;
      border-radius: 0 0 .35rem .35rem;
      font-size: 0.75rem;
      code {
        padding: 0 1rem;
        border-radius: 0 0 .35rem .35rem;
      }
    }
  }
}
