.header {
  background: linear-gradient(-180deg, $color1 0%, $color2 100%);
  padding-bottom: 164px;
  color: $color4;
  @media(max-width: 48em) {
    text-align: center;
    padding-bottom: 64px;
  }
  .headline {
    color: $color4;
    font-size: 2.1rem;
    font-weight: 100;
    @media(max-width: 48em) {
      margin: 4rem 0 0 0;
    }
  }
  .subline {
    color: $color4;
    font-weight: 100;
    font-weight: 100;
    font-size: 1.2rem;
    margin: 2rem 0;
    @media(max-width: 48em) {
      margin: 3rem 0;
    }
  }
  .howto {
    h2 {
      font-weight: 100;
    }
  }
}

#getting-started {
  background: darken($color4, 1%);
  padding: 75px 0;
  h2 {
    color: lighten($color5, 10%);
    font-weight: 100;
  }
}

#faq {
  padding: 100px 0;
  @media(max-width: 46em) {
    padding: 50px 0;
  }
  h2 {
    font-weight: 100;
  }
  h3 {
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 2rem;
  }
  p {
    margin-top: 0;
  }
  hr {
    height: 1px;
    border: 0;
    background: darken($color4, 10%);
  }
}
