.navigation {
  height: 64px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  .navigation-items {
    a {
      line-height: 64px;
      color: $color4;
      margin-left: 2rem;
      font-weight: 100;
      text-decoration: none;
      transition: all 150ms ease-in-out;
      border: 0;
      &:hover {
        color: rgba($color4,0.4);
        background: none;
      }
    }
  }
  .logo {
    margin-top: 12px;
    text-decoration: none;
    border: 0;
    &:hover {
      background: none;
      .text {
        color: rgba($color4,0.4);
      }
      #gridder-logo {
        path {
          fill: rgba($color4,0.4);
          //transform: rotateZ(72deg) scale(0.8);
          &:first-child {
            transform: translateX(39px)rotateZ(30deg);
          }
          &:nth-child(2) {
            transform: translateX(-39px)rotateZ(-30deg);
          }
          transform-origin: center center;
        }
      }
    }
    .text {
      color: $color4;
      font-weight: 100;
      font-size: 1.4rem;
      text-transform: uppercase;
      height: 64px;
      position: relative;
      top: -10px;
      margin-left: 5px;
      transition: all 100ms ease-in-out;
      border: 0;
    }
    #gridder-logo {
      overflow: visible;
      path {
        transition: all 100ms ease-in-out;
      }
    }
  }
  @media(max-width: 48em) {
    margin-bottom: 0px;
  }
}
