//Vendor - Reserved for vendor CSS, usually included with third party libraries.
@import '1-vendor/normalize';
@import '1-vendor/highlight-js';
@import '../../gridder/gridder';

//Base - CSS that does not cause any direct styling to the page - variables and mixins
@import '2-modules/settings';
@import '2-modules/typography';

//Pages - Styles specific to different elements
@import '3-partials/navigation';
@import '3-partials/frontpage';
@import '3-partials/documentation';
@import '3-partials/browser';
@import '3-partials/buttons';
@import '3-partials/devider';
@import '3-partials/labels';
@import '3-partials/footer';
@import '3-partials/breadcrumbs';
@import '3-partials/example-box';
@import '3-partials/tables';
